

<div class="chatbot_chat_popup d-none" id="chatbot_chat_popup">
    <div class="form-container">
        <div class="messaging">

            <div class="inbox_msg">
                <div>
                    <button type="button" id="chatbot_close" class="close mt-3 me-3">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="mesgs">
                    <div class="msg_history" id="chatbotMsgHistory">
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input id="chatbot_msg_text" type="text" class="write_msg" placeholder="@L("SupportChatbot_TypeAMessage")" autocomplete="off" />
                            <button id="support_msg_send_btn" class="msg_send_btn" type="button"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
